In [4]:
import pandas as pd

# Load the first CSV dataset into a DataFrame
df1 = pd.read_csv('Homework_Week_9/data/WHR_2023.csv')


# Load the second CSV dataset into another DataFrame
df2 = pd.read_csv('countryInfo.csv')


# Merge the two DataFrames based on the common column
merged_df = pd.merge(df1, df2, on='Country', how='inner')

In [8]:
merged_df

,Country,Region,Year,Happiness Score,GDP per Capita,Social Support,Life Expectancy,Freedom,Generosity,Perceptions of Corruption,country,latitude,longitude
0,Finland,Western Europe,2023,7.804,1.888,1.585,0.535,0.772,0.126,0.535,FI,61.924110,25.748151
1,Denmark,Western Europe,2023,7.586,1.949,1.548,0.537,0.734,0.208,0.525,DK,56.263920,9.501785
2,Iceland,Western Europe,2023,7.530,1.926,1.620,0.559,0.738,0.250,0.187,IS,64.963051,-19.020835
3,Israel,Middle East and North Africa,2023,7.473,1.833,1.521,0.577,0.569,0.124,0.158,IL,31.046051,34.851612
4,Netherlands,Western Europe,2023,7.403,1.942,1.488,0.545,0.672,0.251,0.394,NL,52.132633,5.291266
...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,Botswana,Sub-Saharan Africa,2023,3.435,1.471,1.041,0.087,0.480,0.021,0.071,BW,-22.328474,24.684866
124,Zimbabwe,Sub-Saharan Africa,2023,3.204,0.758,0.881,0.069,0.363,0.112,0.117,ZW,-19.015438,29.154857
125,Sierra Leone,Sub-Saharan Africa,2023,3.138,0.670,0.540,0.092,0.371,0.193,0.051,SL,8.460555,-11.779889
126,Lebanon,Middle East and North Africa,2023,2.392,1.417,0.476,0.398,0.123,0.061,0.027,LB,33.854721,35.862285
127,Afghanistan,South Asia,2023,1.859,0.645,0.000,0.087,0.000,0.093,0.059,AF,33.939110,67.709953

In [7]:
clean_df = merged_df.drop('country',axis = 1)

In [9]:
clean_df

,Country,Region,Year,Happiness Score,GDP per Capita,Social Support,Life Expectancy,Freedom,Generosity,Perceptions of Corruption,latitude,longitude
0,Finland,Western Europe,2023,7.804,1.888,1.585,0.535,0.772,0.126,0.535,61.924110,25.748151
1,Denmark,Western Europe,2023,7.586,1.949,1.548,0.537,0.734,0.208,0.525,56.263920,9.501785
2,Iceland,Western Europe,2023,7.530,1.926,1.620,0.559,0.738,0.250,0.187,64.963051,-19.020835
3,Israel,Middle East and North Africa,2023,7.473,1.833,1.521,0.577,0.569,0.124,0.158,31.046051,34.851612
4,Netherlands,Western Europe,2023,7.403,1.942,1.488,0.545,0.672,0.251,0.394,52.132633,5.291266
...,...,...,...,...,...,...,...,...,...,...,...,...
123,Botswana,Sub-Saharan Africa,2023,3.435,1.471,1.041,0.087,0.480,0.021,0.071,-22.328474,24.684866
124,Zimbabwe,Sub-Saharan Africa,2023,3.204,0.758,0.881,0.069,0.363,0.112,0.117,-19.015438,29.154857
125,Sierra Leone,Sub-Saharan Africa,2023,3.138,0.670,0.540,0.092,0.371,0.193,0.051,8.460555,-11.779889
126,Lebanon,Middle East and North Africa,2023,2.392,1.417,0.476,0.398,0.123,0.061,0.027,33.854721,35.862285
127,Afghanistan,South Asia,2023,1.859,0.645,0.000,0.087,0.000,0.093,0.059,33.939110,67.709953

In [13]:
clean_df.rename(columns={"latitude": "Latitude", "longitude": "Longitude"}, inplace = True)

In [14]:
clean_df.to_csv("WHR_2023_clean.csv")